@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');


:root{
    --primary-color:#ee9038;
    --purple-header-color:#d6d928;
    --off-white:#E5E7EB;
}

body{
    font-family: 'Lexend', sans-serif;
    margin: 0rem;
}

img{
   width: 100%; 
   max-width: 500px;
   display: block;
   margin: auto;
   
}

#img-caption{
    color: rgb(26, 135, 238);
}

h1{
    text-align: center;
    color: blue;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.heading{
    background-color:rgb(243, 123, 53);
    max-width: 100%;
}

ul{
    background-color: rgb(206, 201, 201);
    border-radius: 3rem;
}
/* .ul {
    padding: 10rem;
} */

ul blockquote{
    background-color: rgb(255, 166, 0);
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


.section{
    padding: 5rem;
    /* background-color: ; */
}
.section .ul{
    text-align: center;
    margin: auto;
}

#tribute-link{
    text-decoration: none;
}



footer{
    background-color: chartreuse;
    padding: 2rem 1rem;
    text-align: center;
}
.non-bullet{
    list-style: none;
}

#linkedin-link{
    text-decoration: none;
}